// step
.step {
  span {
    font-weight: 600;
    font-size: 16rem;
    line-height: 100%;
    text-align: center;
    color: $color-white;
    padding: 16rem 30rem;
    border-radius: 30rem;
    border: 1rem solid $color-white;

    @include media('md') {
      font-size: 12rem;
      padding: 10rem 16rem;
    }
  }

  .section_title {
    margin: 5rem 0;

    @include media('md') {
      font-size: 36rem;
    }
  }

  p {
    font-weight: 500;
    font-size: 20rem;
    line-height: 161%;
    color: $color-white;
    max-width: 700rem;
    margin-bottom: 32rem;

    @include media('md') {
      font-size: 12rem;
    }
  }

  img {
    width: 100%;
  }

  .step_desktop {
    @include media('md') {
      display: none;
    }
  }

  .step_mobile {
    display: none;

    @include media('md') {
      display: block;
    }
  }
}
// step
